node_modules/
client/node_modules/
server/node_modules/
.env
.DS_Store
*.log
*.json
!package.json
!package-lock.json
!client/package.json
!client/package-lock.json
!server/package.json
!server/package-lock.json
repolens_uploads/
app.log
mmd_err.log
result2.json
result3.json
test_nodes.json
test_nodes2.json
test_output.json
goodreads_result.json
